.step1{
    font-size: 15px;
    color: #000;
    position: absolute;
    top: 15px;
    left: 540px;
}
.step2{
    font-size: 15px;
    color: #000;
    position: absolute;
    top: 15px;
    left: 700px;
}
.step3{
    font-size: 15px;
    color: #000;
    position: absolute;
    top: 15px;
    left: 910px;
}
h1{
    font-size: 45px;
    color: #000;
    
}
p{
    font-size: 25px;
}
.box{
    border: dotted;
    width: 220px;
    height: 30px;
}
div{
    display: block;
} 

.bott,input{
     width: 350px;
     height: 25px;
}
a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}
.Back{
    background-color: #f1f1f1;
    color: black;
}
.Next {
    background-color: #044caa;
    color: white;
}
.CNIC{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 2px;
    width: max-content;
}